$main-font: 'Roboto', sans-serif;

$light-theme-color: #000000;
$dark-theme-color: #ffffff;

$dark-theme-background: #000000;
$light-theme-background: #ffffff;

$button-color: #190083;
$subscription-button-color: #ff1100;
