.application {
  height: 595px;
  background-color: #ebeef3;
  padding-top: 60px;
  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: $light-theme-color;
    margin-bottom: 35px;
  }
  &__description {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: $light-theme-color;
    margin-bottom: 150px;
  }
  &__list {
    display: flex;
    padding-left: 93px;
  }
  &__item-appstore {
    margin-right: 40px;
  }
  &__item-phone {
    background-image: url('/images/phone.png');
    width: 923px;
    height: 493px;
  }
}
