.companies {
  height: 850px;
  background: #f6f6f8;
  padding-top: 110px;
  box-sizing: border-box;
  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: $light-theme-color;
    margin-bottom: 40px;
  }
  &__description {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: $light-theme-color;
    margin-bottom: 100px;
  }
  &__list {
    display: flex;
    margin-bottom: 80px;
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__logo {
    margin-bottom: 20px;
    border-bottom: 3px solid #c2ccd4;
  }
  &__spec {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: $light-theme-color;
  }
  &__button {
    display: block;
    width: 144px;
    height: 52px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $dark-theme-color;
    background-color: $button-color;
    margin: 0 auto;
  }
}
