.footer {
  box-sizing: border-box;
  padding-top: 80px;
  padding-left: 186px;
  padding-right: 186px;
  display: flex;
  justify-content: left;

  &__logo {
    margin-bottom: 10px;
    margin-right: 155px;
  }
  &__list {
    display: flex;
    justify-content: left;
  }
  &__app-img {
    width: 80px;
    height: 30px;
  }
  &__item-appstore {
    margin-right: 8px;
  }
  &__list-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }
  &__list-nest a {
    color: $light-theme-color;
  }
  &__list-nest:not(:last-child) {
    margin-right: 60px;
  }

  &__students-list-header,
  &__employers-list-header,
  &__career-list-header,
  &__company-list-header,
  &__support-list-header {
    margin-top: 15px;
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;

    color: $light-theme-color;
    margin-bottom: 30px;
  }
  &__students-list,
  &__employers-list,
  &__career-list,
  &__company-list,
  &__support-list {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $light-theme-color;
    margin-bottom: 15px;
  }
}
